body {
  background-color: #363648;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  flex-direction: column;
  position:absolute;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

h1 {
  font-size: 8rem;
  padding: 1rem;
  height: 100%;
  color: #c48199;
  text-align: center;
}

.soon,
.yes,
.no,
.explanationDiv {
  display: none;
}

.no {
  color: #f36899;
}

.yes {
  color: #ade895;
}

.soon {
  color: #d8b432;
}

#countdown {
  font-weight: 100;
  text-align: center;
  font-size: 4rem;
  width: 100%;
  line-height: normal;
  color: white;
}

.clock-container {
  padding: 0.5rem;
  border-radius: 3px;
  display: inline-block;
}

.clock-label {
  color: #cec8ca;
  padding: 2px 15px;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 0.1rem;
}

.clock-small-text {
  font-size: 1rem;
}

.explanationDiv {
  flex-direction: row;
}

h3 {
  white-space: nowrap;
  color: #cec8ca;
  align-self: center;
  margin: 0 4rem;
}

@media screen and (max-width: 1300px) {
  h1 {
    font-size: 6rem;
  }

  h3 {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  .explanationDiv {
    flex-direction: column;
  }

  #countdown {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  #countdown {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .clock-small-text {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  #countdown {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .clock-small-text {
    font-size: 0.7rem;
  }
}

.fade-in {
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

[class|="confetti"] {
  position: absolute;
}

.red {
  background-color: #E94A3F;
}

.yellow {
  background-color: #FAA040;
}

.blue {
  background-color: #5FC9F5;
}
