body {
  background-color: #363648;
}

.mainContent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  flex-direction: column;
}

h1 {
  font-size: 8rem;
  font-family: "Open Sans", sans-serif;
  padding: 1rem;
  height: 100%;
  color: #c48199;
  text-align: center;
}

.soon,
.yes {
  display: none;
}

.no {
  color: #f36899;
}

.yes {
  color: #ade895;
}

.soon {
  color: #d8b432;
}

#countdown {
  font-weight: 100;
  text-align: center;
  font-size: 4rem;
  width: 100%;
  line-height: normal;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.clock-container {
  padding: 0.5rem;
  border-radius: 3px;
  display: inline-block;
}

.clock-label {
  color: #cec8ca;
  padding: 2px 15px;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 0.1rem;
}

.clock-small-text {
  font-size: 1rem;
}

.explanationDiv {
  display: flex;
  flex-direction: row;
}

h3 {
  white-space: nowrap;
  color: #cec8ca;
  align-self: center;
  margin: 0 2rem;
}

@media screen and (max-width: 1300px) {
  h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 4rem;
  }

  .explanationDiv {
    flex-direction: column;
  }

  #countdown {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  #countdown {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .clock-small-text {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  #countdown {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  .clock-small-text {
    font-size: 0.7rem;
  }
}
